<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite AlwaysOn" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
          </conditions>
          <action type="Rewrite" url="https://{HTTP_HOST}/api/ping?source=alwayson" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>